/* --------------------------------------------------------------------------- */
@charset "UTF-8";

* {
    box-sizing: border-box;
}

/* paddingとborderを幅と高さに含める */


body {
    font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Sans', 'ヒラギノ角ゴシック', YuGothic, 'Yu Gothic', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic';
    line-height: 1.8;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

/* リセット */
body,
h1,
h2,
h3,
p,
ul,
li,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
}

img {
    vertical-align: bottom;
}

/* --------------------------------------------------------------------------- */


/* -------------------- header -------------------- */

/* ロゴ画像 */
.logo-img {
    margin: 20px;
}

.logo-img img {
    width: 150px;
}

/* ハンバーガーアイコン */
.hamburger {
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
}

/* メニューの初期状態 */
.menu {
    display: none;
    background-color: brown;
    padding: 10px;
}

/* メニューの表示 */
.menu.active { 
    display: block;
}

/* -------------------- main -------------------- */
.center {
    text-align: center;
}

/* ----- 検索窓 ----- */
.search-box {
    position: relative;
    width: 600px;
    margin: 0 auto;
}

.search-box i {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: #7A7A7A;
}

.search-box input {
    width: 100%;
    padding: 10px 10px 10px 45px;
    border: 2px solid #7A7A7A;
    border-radius: 50px;
}

/* ↓ で検索窓を選択したときに枠の色を変更できる */
/* #searchInput:focus {
    border: 2px solid いろ;
    outline: none;
} */