/* --------------------------------------------------------------------------- */
@charset "UTF-8";

* {
    box-sizing: border-box;
}

/* paddingとborderを幅と高さに含める */


body {
    font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Sans', 'ヒラギノ角ゴシック', YuGothic, 'Yu Gothic', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic';
    line-height: 1.8;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

/* リセット */
body,
h1,
h2,
h3,
p,
ul,
li,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
}

img {
    vertical-align: bottom;
}

/* --------------------------------------------------------------------------- */


/* -------------------- header -------------------- */

/* ハンバーガーアイコン */
.hamburger {
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
}

/* メニューの初期状態 */
.menu {
    display: none;
    background-color: brown;
    padding: 10px;
}

/* メニューの表示 */
.menu.active { 
    display: flex;
}